{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'blog/css/main.css' %}" rel="stylesheet" type="text/css" />
    <title>DJANGO</title>
</head>
<body>
<div><i class="fas fa-igloo"></i>HI FROM DJANGO </div>
<script src="{% static 'blog/js/jquery-3.4.1.slim.min.js' %}" ></script>
<script src="{% static 'blog/js/popper.min.js' %}" ></script>
<script src="{% static 'blog/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'blog/js/fontawesome.all.min.js' %}" ></script>


</body>
</html>